<div class="row justify-content-md-center">
  <div class="col-8 p-4">
    <div class="d-flex justify-content-between mb-3">
      <%= link_to '編集', edit_document_path(@document), class: 'btn btn-outline-dark' %>
    </div>
    <h1 class="font-weight-bold mb-4">
      <%= @document.name %>
    </h1>

    <div>
      <%= simple_format(@document.content) %>
    </div>

    <hr>

    <div>
      <%= PaperTrail::Version.model_name.human %>
    </div>
    <ul>
      <% @document.versions.each do |version| %>
        <li>
          <span>
            <%= version.created_at %>
          </span>
          <span>
            <%= t("events.#{version.event}", model: version.item.model_name.human) %>
          </span>
        </li>
      <% end %>
    </ul>
  </div>
</div>
